<% include ../partials/header.ejs %>

    <div class="row">
        <div class="col-md-4">
            <h2><%= user.username %>Username</h2>
        </div>
        <div class="col-md-8">
            <h3><%= user.username %>Username</h3>
            <ul>
                <% restaurants.forEach(function(restaurant) { %>
                    <li><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.restaurantName %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>


<% include ../partials/footer.ejs %>